.signInPageHeader img{
    height: 20px;
    width: 95px;

    margin: 25px 0px 0px 25px;
}

.signInPageBody{

}

.signInPageLoginFormWrap{
    width: 284px;
    margin-left: 65px;
    margin-top: 190px;
}

.signInPageLoginFormWrap h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 21px;
}

.signInPageLoginForm{
    display: flex;
    flex-direction: column;

}

.signInPageLoginForm input{
    height: 40px;

    margin-bottom: 16px;
    padding-left: 15px;

    border-radius: 10px;
    border: 1px solid black;
}

.signInPageLoginForm button{
    height: 40px;

    margin-bottom: 16px;
    padding-left: 15px;

    border-radius: 10px;
    border: 1px solid black;
    color: black;
}

#signInButton{
    background-color: black;
    color: white;
}

#signInWithGoogleButton{
    background-color: rgb(20, 14, 183);
    border: 0;
    color: white;
}

.signInPageLoginFormText{
    text-align: center;
    font-size: 12px;

    margin-top: 10px;
}